@import "compass";


.pickerko {


    padding: 0px;
    margin-top: 1px;
    max-width: 240px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border: 1px solid #b1bccc;

    table {
        width: 100%;
        margin: 0;
    }
    td,
    th {
        text-align: center;
    }

    th {
        font: bold 14px/34px Arial;
        padding:5px 0;
        color: #414141;
        text-transform: uppercase;

        .prev,
        .next {
            position: relative;
            top:-2px;
        }
    }

    td {

        border: 1px solid #e6e6e6;
        border-left: none;
        font: bold 15px/30px Arial;
        height: 30px;
        width: 30px;
        text-align: center;

        &.range,
        &.range:hover {
            color: #fff;
            background: #446aed;
        }

        &.available{
            &:hover{
                background: #446aed;
                color: #fff;
            }
        }
        &.off{
            color: #BBBBBB;
        }

        &.start,
        &.end{
            background: #0000ed !important;
        }
    }

    th {
        &.next,
        &.prev {
        }
    }
}